@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
.question{
    
}
.question>li:nth-child(n):hover{
    
}
.sol {
    color: blue;
    padding:10px;
    border:solid 1px gray;
    margin:30px;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-wrapper{
    overflow-x: auto;
    overflow-y: hidden;
}
.theorem{
    padding:20px;
    margin: auto;
    width: 60%;
    min-width: 500px;
    border:solid 1px aliceblue;
    background-color: aliceblue;
}
.theorem:hover{
    border:solid 1px black;
}
.theorem::before {
  content: 'Theorem ';
}
.sidebar{
    background-color: none;
    color:white;
    height:100%;
    position:fixed;
    left: 0;
    top:0;
    padding-right:0px;
    transform: translate(-81px, 0);
    transition-duration: 0.5s;
    overflow-y: auto;
}
.sidebar>div{
    opacity: 0.5;
    border-radius: 0px 0px 10px 0px;
    overflow: hidden;
}
.sidebar:hover{
    transform: translate(0, 0);
    transition-duration: 0.5s;
}
.sidebar>div>a{
    height:auto;
    padding:10px 20px 10px 15px;
    background-color: black;
    display: block;
    border:solid 0.5px;
}
.sidebar>div>a:hover{
    opacity: 0.7;
}
.sidebar>div>a{
    color:white;
    text-decoration: none;
}
.sidebar>div>a:active{
    background-color: hsl(0,0%,90%);
    color:black;
}

body{
    font-family: 'Latin Modern',cwTeXKai, Georgia, Cambria, 'Times New Roman', Times, serif;
    margin:0;
    padding:100px 50px;/*(top button) (left right)*/
    max-width: 100%;
/*    min-width: 600px;*/
    background-color: white;
    font-size:1.0rem;
}

footer {
    margin-top: 50px;
    margin-left:-50px;
    margin-bottom: -100px;
    padding:50px;
    width:100vw;
    text-align: center;
    background-color: DarkSalmon;
    color: white;
}

#title{
    height:auto;
}
.question{
/*
    margin:0;
    padding:0;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-type: y mandatory;
    background-color: antiquewhite;
*/
    overflow-y: scroll;
    height: 100%;
}
.question>li{
/*
    min-height:100vh;
    scroll-snap-align: center;
*/
    
}
@media only screen and (max-width: 600px) {
    body {
        padding:0;/*(top button) (left right)*/  
    }
    footer{
        margin-left:0px;
    }
    sol{
        width:100%;
    }
    .MathJax { 
    font-size: 1.2em !important; 
    }
    .sidebar{
        display: none;
    }
    
    h1{
        margin: 0px;
        margin-top: 50px;
    }
    h2{
        margin-top: 0px;
    }
    .theorem{
        width: 90%;
        min-width: auto;
        max-width: 100wh;
    }
}

